
html, body, #root{
    height: 100%;
    min-height: 100%;
}

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.pageContainer{
    flex: 1;
}

.navbar{
    background-color: #e3e3e3;
}

.title {
    font-size: 20px;
    margin-left: 7px;
    font-weight: bold;
}

.navbar-brand{
    margin-left: 1rem;
}

.search-bar{
    display: flex;
  justify-content: space-between;
}

.second-navbar{
    background-color: #e3e3e3;
    border-top: 1px solid black;
    justify-content: center;
}

#nav-dropdown{
    color: black; 
}

#nav-dropdown::after{
    display: none;
}

#nav-dropdown:hover{
    background-color:#d6d6d6;
}

.rounded-image{
    border-radius: 5%;
    height: 100%;
    width: 95%;
}

.recipe-card {
    padding: 10px;
    margin: 20px 0px 20px;
}

.filters-card {
    background-color: white !important;
}

.footerButton{
    margin: auto;
}