.navbar{
    background-color: #e3e3e3;
}

.title {
    font-size: 20px;
    margin-left: 7px;
    font-weight: bold;
}

.navbar-brand{
    margin-left: 1rem;
}

.search-bar{
    display: flex;
  justify-content: space-between;
}

.second-navbar{
    background-color: #e3e3e3;
    border-top: 1px solid black;
    justify-content: center;
}

#nav-dropdown{
    color: black; 
}

#nav-dropdown::after{
    display: none;
}

#nav-dropdown:hover{
    background-color:#d6d6d6;
}

.rounded-image{
    border-radius: 5%;
    height: 100%;
    width: 95%;
}